- set_meta_tags title: '#{@student.real_name}のレッスン一覧', description: '各生徒のレッスン一覧ページです。'

= turbo_frame_tag 'student_schedules' do
  = "#{@student.real_name}のレッスン一覧"
  - @schedules.each do |schedule|
    li
      = schedule.summary
      = format_japanese_datetime(schedule.start_at)
      = link_to '変更', edit_schedule_path(schedule),
        data: { turbo_frame: 'modal', action: 'click->modal#open' }
