- set_meta_tags title: '生徒のカレンダー登録名を設定', description: '生徒のカレンダー登録名を設定するページです。'

h1.text-xl.py-4.font-bold
  | 生徒のカレンダー登録名を設定
p.pb-2
  | 登録した名前が「レッスン変更」に表示されます

- if @students.present?
  = render 'students_name', students: @students
- else
  p.text-sm
  | 生徒からトークを受信すると生徒が表示されます。
