- set_meta_tags title: 'レッスン変更', description: 'レッスン変更ページです'

= turbo_frame_tag 'modal' do
  .relative.bg-white.rounded-lg.shadow-lg.p-6.w-96
    h1.text-lg.font-bold.mb-4 #{@schedule.student.real_name}のレッスン変更

    p.text-gray-700.text-sm.mb-1
      | 現在の日時
    p.text-lg.mb-1
      = format_japanese_datetime(@schedule.start_at)

    = form_with model: @schedule, data: { turbo: false } do |f|
      .mb-4.text-sm
        = f.label :start_at, '変更後の日時',
          class: 'block text-sm font-medium text-gray-700 mb-1'
        = f.datetime_field :start_at,
          value: @schedule.start_at.to_date,
          class: 'border rounded p-2 w-full'

      .flex.justify-end.gap-2
        = f.submit '保存する',
          class: 'bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 cursor-pointer'
        = button_tag 'キャンセル', type: 'button',
          data: { action: 'click->modal#close' },
          class: 'bg-gray-300 text-gray-800 px-4 py-2 rounded hover:bg-gray-400 cursor-pointer'
