- set_meta_tags title: 'レッスン一覧', description: 'レッスン一覧ページです。'

= form_with url: '#', method: :get, data: { controller: 'schedules' } do |f|
  - if current_user.present?
    = f.collection_select :student_id, current_user.students, :id, :real_name,
  - else
    p
    | 本サービス登録後、公式LINEに登録されている
    br
    | 生徒からトークを受信すると
    br
    | 生徒が選択できるようになります。

= turbo_frame_tag 'student_schedules'
