p.text-xs.py-2
  = link_to '利用規約', '/term', class: 'text-blue-600 hover:underline'
  | ・
  = link_to 'プライバシーポリシー', '/privacy', class: 'text-blue-600 hover:underline'
  | に
  br
  | 同意した上でログインをしてください
= button_to 'Googleでログイン', '/auth/google_oauth2',
    method: :post,
    data: { turbo: false },
    class: 'text-lg text-white bg-sky-500 rounded-2xl py-2 px-5 font-bold hover:opacity-70'
