.text-center
  = image_tag 'logo.svg', class: 'mx-auto', alt: 'ほっぽリマインダーのロゴ'
  p.text-lg
  p
    | ほっぽリマインダーは、
    br
    | 習い事の先生がレッスン変更と
    br
    | 生徒への公式ラインの予約投稿を同時にできるアプリです。
    = render 'shared/login_button'
    br
    br

  ここにアプリの説明

  br
  br

  = render 'shared/login_button'
