- set_meta_tags title: 'ほっぽリマインダー',
  description: '習い事の先生がLINE公式アカウントと連携して、生徒にレッスン時間変更を自動でリマインダーを送信できるアプリです。'

.mx-3.my-8.md:mx-10
  .text-center
    h1
      = image_tag 'logo.svg', class: 'mx-auto', alt: 'ほっぽリマインダーのロゴ',
        class: 'w-2/3 md:w-1/2 mt-4 mx-auto'
    p.text-lg.my-4
      | ほっぽリマインダーは
      br
      | 習い事教室のレッスン変更を
      br
      | LINE公式で自動送信し
      br
      | 連絡漏れや生徒さんの無駄足を防止するアプリです
      = render 'shared/login_button'

  h3.text-xl.font-bold.my-6
    =image_tag 'page-description.png', alt: 'レッスン変更画面'
  p.text-lg.font-bold.my-4
    | 連絡を自動化して生徒の無駄足を防ごう！
  = render 'shared/login_button'
  - if Rails.env.development?
    = link_to 'モックログイン(開発用)', mock_login_path, class: 'text-blue-600 hover:underline'
