- if current_user
  header data-controller='burger-menu'
    .flex.items-center.justify-between
      = link_to root_path do
        = image_tag 'logo_long.svg', class: 'flex h-20 w-auto'
      = image_tag 'burger_menu.svg',
        class: 'h-20 w-auto p-2',
        alt: 'サイトに関するメニューです'
    = render 'shared/hamburger_menu'
    = render 'shared/tab_menu', tabs: navigation_tabs
