- if current_user
  header data-controller='burger-menu'
    = image_tag 'logo_long.svg', class: 'h-20 w-auto'
    .inline-block.rounded-lg.hover:opacity-70 { data={ action: 'click->burger-menu#toggle' } }
      = image_tag 'burger_menu.svg',
        class: 'h-20 w-auto p-2',
        alt: 'サイトに関するメニューです'
    = render 'shared/hamburger_menu'
    = render 'shared/tab_menu', tabs: navigation_tabs
