doctype html
html
  head
    meta name='viewport' content='width=device-width,initial-scale=1'
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    = stylesheet_link_tag :app, 'data-turbo-track': 'reload'
    = javascript_importmap_tags
    = favicon_link_tag('favicon.ico')
    = favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', sizes: '180×180', type: 'image/png'
  body
    = render 'shared/modal'
    = render 'layouts/header'
    = yield
    = render 'shared/footer'
